.education{
  padding: 0.5%;
}

.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}

.heading span {
  color: rgb(115, 3, 167);
}

.quote{
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
}

.head{
  margin: 1% 9.5%;
  border-radius: 13px;

  mat-card:hover {
  transform: scale(1.03);
  box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
}
}

.edu-card {
  .edu-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
    flex-wrap: wrap;

    @media (max-width: 390px) {
      flex-direction: column;
      align-items: center;

      .edu-details{
        padding-left: 5%;
      }
      .edu-image{
        box-shadow: none;
      }
      
    }
  }

  .edu-image {
    width: 280px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 13px 0 0 13px !important;

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }

  .edu-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h3 {
      margin-top: 1rem;
      font-size: 1.8rem;
      font-weight: bold;
      color: #002057;
    }

    p {
      margin-top: 0.5rem;
      font-size: 1.5rem;
      color: #444;
    }

    h4 {
      margin-top: 1rem;
      margin-left: 0;
      font-size: 1.5rem;
      font-weight: 600;
      color: green;
    }
  }
}

// media query start
@media screen and (max-width:575px) {
  .heading{
    font-size: large;
  }

  .head{
    margin: 2%;
  }
  .quote,p,h4{
    font-size: small !important;
  }

  h3{
    font-size: medium !important;
  }

  .edu-image {
   width: 150px !important;
    height: 100px;
  }
}

@media screen and (min-width:576px) and (max-width:767px) {
  .heading{
    font-size: x-large;
  }

  .quote,p,h4{
    font-size: medium !important;
  }

  h3{
    font-size: large !important;
  }

  .edu-image {
   width: 180px !important;
    height: 120px;
  }
}

@media screen and (min-width:768px) and (max-width:992px) {
  .heading{
    font-size: xx-large;
  }

  .quote,p,h4{
    font-size: large !important;
  }

  h3{
    font-size: x-large !important;
  }

  .edu-image {
   width: 210px !important;
    height: 150px;
  }
}

@media screen and (min-width:993px) and (max-width:1200px) {
  .heading{
    font-size: xx-large;
  }

  .quote,p,h4{
    font-size: large !important;
  }

  h3{
    font-size: x-large !important;
  }

  .edu-image {
   width: 240px !important;
    height: 180px;
  }
}

// media query end