<section class="education mat-elevation-z8">
  <h1 class="heading pt-2"><i class="fas fa-graduation-cap"></i> My <span>Education</span></h1>
  <p class="quote mt-1">Learning to write programs stretches your mind and helps you think better.</p>
  <div class="mat-elevation-z2 head mt-4 mb-2" *ngFor="let data of Education">
    <mat-card class="edu-card">
      <div class="edu-content">
        <div class="edu-image">
          <img [src]="data.image" alt="education image" draggable="false" />
        </div>
        <div class="edu-details">
          <h3>{{ data.degree }}</h3>
          <p>{{ data.college }}</p>
          <h4>{{ data.passedout }} | {{ data.status }}</h4>
        </div>
      </div>
    </mat-card>
  </div>
</section>