<section class="footer mat-elevation-z8">
  <div class="box-container">
      <div class="box">
          <h3>Sathesh's Portfolio</h3>
          <p>Thank you for visiting my personal portfolio website. Connect with me over socials. <br/> <br/> Keep Rising 🚀. Connect with me over live chat!</p>
      </div>
      <div class="box">
          <h3>Contact Info</h3>
          <p class="d-flex"> <i class="fas fa-phone"></i>+91 XXXXX XXXXX</p>
          <p class="d-flex"> <i class="fas fa-envelope"></i>{{'satheshg01@gmail.com'}}</p>
          <p class="d-flex"> <i class="fas fa-map-marked-alt"></i>Dharmapuri, Tamil Nadu, India - 636903</p>
          <div class="socials mt-3">
              <a class="linkedin" aria-label="LinkedIn" href="https://www.linkedin.com/in/Sathesh-G/" target="_blank"><i class="fab fa-linkedin"></i></a> 
              <a class="github" aria-label="GitHub" href="https://github.com/Sathesh-G" target="_blank"><i class="fab fa-github"></i></a>
              <a class="Mail" aria-label="Mail" href="mailto:satheshg01@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
              <a class="twitter" aria-label="Twitter" href="https://twitter.com/Sathesh_G" target="_blank"><i class="fab fa-twitter"></i></a>
              <a class="telegram" aria-label="Telegram" href="https://t.me/lifecode5" target="_blank"><i class="fab fa-telegram-plane"></i></a>
              <!-- <a class="instagram" aria-label="Instagram" href="https://www.instagram.com/SatheshG.dev"><i class="fab fa-instagram" target="_blank"></i></a> -->
          </div>
          <!-- <div class="share">
              <a href="https://www.linkedin.com/in/jigar-sable" class="fab fa-linkedin" aria-label="LinkedIn" target="_blank"></a>
              <a href="https://github.com/jigar-sable" class="fab fa-github" aria-label="GitHub" target="_blank"></a>
              <a href="mailto:jigarsable21@gmail.com" class="fas fa-envelope" aria-label="Mail" target="_blank"></a>
              <a href="https://twitter.com/jigar_sable" class="fab fa-twitter" aria-label="Twitter" target="_blank"></a>
              <a href="https://t.me/lifecode5" class="fab fa-telegram-plane" aria-label="Telegram" target="_blank"></a>
          </div> -->
      </div>
  </div>
</section>