.footer {
  min-height: auto;
  padding-top: 0;
  background: rgb(0, 1, 43);
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .box{
  flex: 1 1 25rem;
  margin: 2.5rem;

  h3{
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
  }

  p{
  font-size: 1.5rem;
  color: #ccc;
  padding: 0.2rem 0;
  text-transform: none;
  //  white-space: nowrap;

  i{
    padding-right: 1rem;
  color: #ffae00;
  }
  }
  }

  // .inline{
  //   display: flex;
  // align-items: center;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // max-width: 100%;
  // }
}
// .footer .box-container .box a {
//   font-size: 1.5rem;
//   color: rgb(238, 238, 238);
//   padding: 0.3rem 0;
//   display: block;
// }
.footer .box-container .box a:hover {
  color: #ffae00;
}

.socials {
  display: flex;

  a {
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    background: rgb(230, 230, 230);
    color: #02094b;
    text-decoration: none;
    border-radius: 5rem;
    // border: none;

    &:hover{
      background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: #ffae00;
    }
  }
}

// *********
.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.footer .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: rgb(230, 230, 230);
  color: #02094b;
  border: none;
}
.footer .box-container .box .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: #ffae00;
}