
.about {
  background: rgb(255, 255, 255);
}
.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}
.heading span {
  color: rgb(115, 3, 167);
}

.image{
 background: linear-gradient(to bottom right, white, white);

 img{
  padding: 2rem 2rem 0 2rem;
  width: 30rem;
  height: auto;
  border-radius: 15%;
  // mix-blend-mode: luminosity;
  transition: 0.3s;
  cursor: pointer;
}
}
// .image img:hover{
  // mix-blend-mode: normal;
// }

.content{
  padding: 2%;
  h3{
    span{
      color: #03045e;      
      font-weight: bold;
    }
    font-size: xx-large;
  }
  .tag{
    font-weight: 600;
    font-size: x-large;
    color: #fb5607;
  }
  
  p{
    font-size: 1rem;
    text-transform: none;
    line-height: 1.5rem;
  }

  .box-container {
    p {
    font-weight: bold;
  }
    span{
    color: #3f51b5;
    font-weight: bold;
  }
}
}

.resumebtn{
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #3f51b5 !important;
  color: white !important;
  padding: 3%;
}
 .resumebtn i {
  margin-left: 0.3rem;
  font-size: 1.2rem;
  transition: 0.3s;
}
.resumebtn:hover{
  background-color: #303f9f !important;
}

.resumebtn:hover i {
  transform: translateX(5px);
}

@media screen and (max-width:575px){
  .heading{
    font-size: large;
  }
  .image img{
  width: 15rem;
  height: auto;
  }

  .content{
    h3,.tag,.resumebtn{
      font-size: medium;      
    }
    p{
      font-size: small;
    }
  }
}

@media screen and (min-width:576px) and (max-width:767px){
  .heading{
    font-size: x-large;
  }
  .image img{
  width: 20rem;
  height: auto;
  }

  .content{
    h3,.tag,.resumebtn{
      font-size: large;      
    }
    p{
      font-size: medium;
    }
  }
}

@media screen and (min-width:768px) and (max-width:992px){
  .heading{
    font-size: x-large;
  }
  .image img{
    padding: 0;
  width: 100%;
  height: auto;
  }

  .content{
    h3,.tag,.resumebtn{
      font-size: large;      
    }
    p{
      font-size: medium;
    }
  }
}

@media screen and (min-width:993px) and (max-width:1300px){
  .heading{
    font-size: xx-large;
  }
  .image img{
    padding: 0;
  width: 100%;
  height: auto;
  }

  .content{
    h3,.tag,.resumebtn{
      font-size: x-large;      
    }
    p{
      font-size: large;
    }
  }
}