<section class="about mat-elevation-z8 p-4" id="about">
  <h2 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h2>

  <div class="row">
    <div class="col-12 col-md-4 image">
      <img draggable="false" class="tilt" src="./assets/images/profile.jpeg" alt="">
    </div>

    <div class="col-12 col-md-8 content">
      <h3>I'm <span>Sathesh G</span></h3>
      <span class="tag">Full Stack Developer</span>
      <p class="mt-3">
        I am a highly motivated and adaptable <strong>Full Stack Developer</strong> with a strong foundation in
        <strong>frontend</strong> and <strong>backend</strong> technologies. I specialize in building efficient,
        scalable web applications
        using <strong>Angular</strong>, <strong>Node.js</strong> and <strong>SQL Server</strong>.
      </p>

      <p>
        I have a proven track record of developing robust <strong>ERP (Enterprise Resource Planning)</strong>
        <strong>Management systems</strong>, tailored to streamline business operations and improve productivity. My
        experience includes both
        <strong>frontend user interfaces</strong> and <strong>backend architecture</strong>, with a strong emphasis on
        <strong>clean code</strong> and
        <strong>maintainable design</strong>.
      </p>

      <p>
        In addition to SQL Server, I possess solid expertise in <strong>database design</strong> and
        <strong>optimization</strong> using
        <strong>MySQL</strong> and <strong>MongoDB</strong>, ensuring data consistency, performance and scalability.
      </p>

      <p>
        I take pride in <strong>solving complex problems</strong>, staying up to date with <strong>emerging
          technologies</strong> and continuously
        learning to improve my skill set. I'm eager to contribute to <strong>innovative projects</strong>, collaborate
        with
        <strong>cross-functional teams</strong> and grow further as a professional in the software development field.
      </p>

      <div class="box-container mt-4">
        <p><span>Email : </span>{{'satheshg01@gmail.com'}}</p>
        <p><span>Location : </span> Dharmapuri, Tamil Nadu, India - 636903</p>
      </div>

      <a class="resumebtn" mat-raised-button
        href="https://drive.google.com/file/d/1rZiXl562q7aVyk1kJ2nO85YBAq8ixTiw/view" target="_blank"
        rel="noopener noreferrer">Resume <i class="fas fa-chevron-right"></i></a>
    </div>
  </div>
</section>