<!-- <section class="experience mat-elevation-z8" id="experience">

  <h2 class="heading mt-0"><i class="fas fa-briefcase"></i> Experience </h2>

  <div class="timeline">

    <div class="container right">
      <div class="content">
        <div class="tag">
          <h2>Real Time Dashboard</h2>
        </div>
        <div class="desc">
            <h3> Integrated a real-time dashboard into ERP to visualize critical metrics such as shift performance, 
downtime and material flow.</h3>
            <p>Jan 2025 - present</p>
        </div>
      </div>
    </div>

    <div class="container left">
      <div class="content">
        <div class="tag">
          <h2>Facility Management System</h2>
        </div>
        <div class="desc">
            <h3> Integrated facility management features into ERP to centralize gate pass approvals, asset logs, and 
visitor entries.</h3>
            <p>Sep 2024 - Jan 2025</p>
        </div>
      </div>
    </div>

    <div class="container right">
      <div class="content">
        <div class="tag">
          <h2>Quality Management System</h2>
        </div>
        <div class="desc">
            <h3> Integrated a QMS into ERP to manage manual quality inspections, verification and NCR handling across 
manufacturing units.</h3>
            <p>Nov 2023 - Aug 2024</p>
        </div>
      </div>
    </div>

    <div class="container left">
      <div class="content">
        <div class="tag">
          <h2>Production Management System</h2>
        </div>
        <div class="desc">
            <h3> Integrated a Production Management module into ERP to streamline work orders, machine usage, and 
shift planning.</h3>
            <p>Nov 2022 - Oct 2023</p>
        </div>
      </div>
    </div>

    <div class="container right">
      <div class="content">
        <div class="tag">
          <h2>HRMS - Performance Appraisal</h2>
        </div>
        <div class="desc">
            <h3> Developed an Angular-based HRMS module to automate employee evaluations and feedback</h3>
            <p>Aug 2022 - Oct 2022</p>
        </div>
      </div>
    </div>

    <div class="container left">
      <div class="content">
        <div class="tag">
          <h2>WonderingBlog</h2>
        </div>
        <div class="desc">
            <h3>Web Development & SEO | Internship</h3>
            <p>March 2021 - April 2021</p>
        </div>
      </div>
    </div>
  </div>

  <div class="morebtn">
    <a href="/experience" class="btn"><span>View All</span>
      <i class="fas fa-arrow-right"></i>
  </a>
  </div>
</section> -->

<section class="experience mat-elevation-z8" id="experience">
  <h2 class="heading"><i class="fas fa-briefcase"></i> Experience</h2>
  <div class="timeline">
    <div class="container" *ngFor="let data of Experience" [ngClass]="data.direction">
      <div class="content">
        <mat-icon>work</mat-icon>

        <mat-card class="mat-elevation-z2">
  <mat-card-header>
    <mat-card-title>{{data.projectname}}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="mt-2">{{ data.description }}</mat-card-content>
  <mat-card-actions class="p-3 fw-bold">{{ data.duration }}</mat-card-actions>
</mat-card>

        <!-- <div class="tag">
          <h2>{{ data.projectname }}</h2>
        </div>
        <div class="desc">
            <h3>{{ data.description }}</h3>
            <p>{{ data.duration }}</p>
        </div> -->
      </div>
    </div>
  </div>
  <div class="btn">
    <button mat-raised-button>View All <i class="fas fa-arrow-right"></i></button>
  </div>
  <!-- <div class="morebtn">
    <a href="/experience" class="btn">
      <span>View All</span>
      <i class="fas fa-arrow-right"></i>
    </a>
  </div> -->
</section>