<section class="contact mat-elevation-z8" id="contact">

  <h2 class="heading" style="margin-top: 0;"><i class="fas fa-headset"></i> Get in <span>Touch</span></h2>

  <div class="container">
    <div class="content">
      <div class="image-box">
        <img draggable="false" src="./assets/images/contact1.png" alt="">
      </div>

      <form [formGroup]="contact" #contactForm>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="Name" name="Name" (keypress)="allowOnlyLetters($event)">
          <mat-icon matSuffix>person</mat-icon>
          <mat-error>Field must be required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="Email" name="Email">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="contact.get('Email')?.hasError('required')">Field must be required</mat-error>
          <mat-error *ngIf="contact.get('Email')?.hasError('email')">Invalid email</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input type="text" matInput formControlName="Phone" name="Phone" [maxlength]="10" (keypress)="allowOnlyDigits($event)">
          <mat-icon matSuffix>phone</mat-icon>
          <mat-error *ngIf="contact.get('Phone')?.hasError('required')">Field must be required</mat-error>
          <mat-error *ngIf="contact.get('Phone')?.hasError('pattern') && contact.get('Phone')?.value">Invalid Phone No</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Reason for contact</mat-label>
          <textarea matInput formControlName="Reason" name="Reason for Contact"></textarea>
          <mat-icon matSuffix>chat</mat-icon>
          <mat-error>Field must be required</mat-error>
        </mat-form-field>

        <button mat-raised-button type="button" style="background-color:#3f51b5;color: white;" (click)="submit($event)">Submit</button>
        <button type="reset" style="background-color:#f44336;color: white;" mat-raised-button>Reset</button>
      </form>
    </div>
  </div>
</section>