// contact section starts 
.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}

.heading span {
  color: rgb(115, 3, 167);
}

.contact {
  background: #e5ecfb;
  min-height: 60vh;
  padding: 1%;
  margin-top: 1%;
}
.contact .container {
  max-width: 1050px;
  width: 100%;
  background: #fff;
  border-radius: 1.5rem;
  margin: 2rem 5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.contact .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}
.contact .content .image-box {
  max-width: 60%;
  // margin-left: 4rem;
}
.contact .content .image-box img {
  width: 100%;
  height: 40rem;
  position: relative;
}
.contact .content form {
  width: 45%;
  margin-left: 1rem;
}

// contact section media queries starts 
@media (max-width: 900px) {
  .contact {
    min-height: 70vh;
  }
  .contact .container {
    margin: 3rem 0 2rem 0;
  }
  .contact .container .content {
    padding: 18px 12px;
  }
  .contact .content .image-box {
    display: none;
  }
  .contact .content form {
    width: 100%;
    margin-right: 2rem;
  }
}
// contact section media queries ends 
// contact section ends 

mat-form-field{
  width: 100%;
}

button{
  border-radius: 5px;
  letter-spacing: 2px;
  margin-left: 10px;
}
//accent - #ff4081, warn - #f44336, primary - #3f51b5,#303f9f