.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}

.heading span {
  color: rgb(115, 3, 167);
}

.contact {
  background: #e5ecfb;
  min-height: 60vh;
  padding: 1%;
  margin-top: 1%;
}

.contact .container {
  max-width: 1050px;
  width: 100%;
  background: #fff;
  border-radius: 1.5rem;
  margin: 2rem 10rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.contact .container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}

.contact .content .image-box {
  max-width: 60%;
}

.contact .content .image-box img {
  width: 100%;
  height: 40rem;
  position: relative;
}

.contact .content form {
  width: 45%;
  margin-left: 1rem;
}

mat-form-field {
  width: 100%;
}

button {
  border-radius: 5px;
  letter-spacing: 2px;
  margin-left: 10px;
}

// media query start
@media screen and (max-width:575px) {
  .heading {
    font-size: large;
  }

  .contact .container {
    margin: 0rem;
    display: block;

    .image-box {
      display: none;
    }

    form {
      width: 100%;
    }
  }
}

@media screen and (min-width:576px) and (max-width:767px) {
  .heading {
    font-size: x-large;
  }

  .contact .container {
    margin: 0rem;
    display: block;

    .image-box {
      width: 70%;
    }

    form {
      width: 100%;
    }
  }
}

@media screen and (min-width:768px) and (max-width:992px) {
  .heading {
    font-size: xx-large;
  }

  .contact .container {
    width: 90%;
    margin: 5%;
    display: block;

    .image-box {
      width: 70%;
    }

    form {
      width: 100%;
    }
  }
}

@media screen and (min-width:993px) and (max-width:1200px) {

  .contact .container {
    margin: 5%;
    width: 90%;

    .image-box {
      width: 80%;
    }

    form {
      width: 100%;
    }
  }
}

// media query end
//accent - #ff4081, warn - #f44336, primary - #3f51b5,#303f9f