.skills {
  padding: 1%;
  // margin-top: 1%;
}
.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}

.skills .heading span {
  color: rgb(115, 3, 167);
}

.cardhead {
  margin: 1% 6%;
  background-color: rgba(0, 0, 22, 0.4);

  mat-card-actions{
    display: none;
    button{
      letter-spacing: 2px; 
      font-weight: bold;    
    }
  }
}

.bar {
  transition: all 0.3s ease-in-out;
  margin: 1%;

  span{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  text-align: center;
  }
  &:hover {
    box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8);
    background-color: rgba(0, 0, 0, 0.9);

    span {
      color: white;
    }
    .pngColChg{
      filter: invert(1);
    }
  }
}

.info {
  width: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//media query start
@media screen and (max-width:575px) {
  .heading{
    font-size: medium;
  }

  .cardhead {
  margin: 1% 3%;

  span{
    font-size: small !important;
    white-space: wrap;
  }

  mat-card-actions{
    display: block;
  }
}

.info {
  width: 5rem;
}
}

@media screen and (min-width:576px) and (max-width:767px) {
  .heading{
    font-size: large;
  }

  .cardhead {
  margin: 1% 3%;

  span{
    font-size: medium !important;
    white-space: wrap;
  }

  mat-card-actions{
    display: block;
  }
}

.info {
  width: 5rem;
}
}

@media screen and (min-width:768px) and (max-width:992px) {
  .heading{
    font-size: x-large;
  }

  .cardhead {
  margin: 1% 3%;

  span{
    font-size: medium !important;
    white-space: wrap;
  }
}

.info {
  width: 6rem;
}
}

@media screen and (min-width:993px) and (max-width:1200px) {
  .heading{
    font-size: x-large;
  }

  .cardhead {
  margin: 1% 6%;

  span{
    font-size: medium !important;
    white-space: wrap;
  }
}

.info {
  width: 7rem;
}
}
//media query end