<section class="skills mat-elevation-z8" id="skills">
  <h2 class="heading" style="margin-top: 0;">
    <i class="fas fa-laptop-code"></i> Skills & <span>Abilities</span>
  </h2>
  <!-- <h3><mat-icon>important_devices</mat-icon>Skills & <span>Abilities</span></h3> -->

  <div class="container">
    <div class="row" id="skillsContainer">
      <div class="bar" *ngFor="let skill of skills">
        <div class="info">
          <img [src]="skill.icon" [className]="skill.class" alt="skill" />
          <span>{{ skill.name }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
