<section class="skills mat-elevation-z8" id="skills">
  <h2 class="heading">
    <i class="fas fa-laptop-code"></i> Skills & <span>Abilities</span>
  </h2>

  <mat-card class="mat-elevation-z4 cardhead">
  <mat-card-content [ngStyle]="{height: isSmallScreen ? (isExpanded ? 'fit-content' : '61.5vh') : 'fit-content',
    overflow: isSmallScreen && !isExpanded ? 'hidden' : 'unset'}">
    <div class="row">
    <mat-card class="col bar" *ngFor="let skill of skills">
      <mat-card-content class="info">
          <img [src]="skill.icon" [className]="skill.class" alt="skill" />
          <span>{{ skill.name }}</span>
      </mat-card-content>
    </mat-card>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-raised-button (click)="toggleCard()">
    {{ isExpanded ? 'View Less' : 'View More' }}</button>
  </mat-card-actions>
</mat-card>
</section>
