// navbar section starts
.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5% 1.5rem 10%;
    background-color: #fff;
    
    span,
    i {
        font-size: 1.9rem;
        font-weight: 800;
    }

    span,
    i,
    a:hover {
        text-decoration: none;
        color: #0e2431;
        background: var(--red-to-pink-to-purple-horizontal-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
        cursor: pointer;

        label {
            border-bottom: 0.2rem solid var(--electric-violet);
        }
    }

    a.active label {
        border-bottom: 0.2rem solid var(--electric-violet);
        background: var(--red-to-pink-to-purple-horizontal-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-fill-color: transparent;
    }

    a {
        padding: .2% 1.5%;
        letter-spacing: 0.04rem;
        font-weight: 600;
        font-size: 1rem;
        text-decoration: none;
        color: #0e2431;
        transition: color 0.3s ease;

        label {
            border-bottom: 0 solid transparent;
            padding: 0.5rem 0;
        }
    }

    i {
        font-size: 2.2rem;
    }
}

mat-drawer{
  margin-top: 9%;
}
// navbar section end

// footer section starts 
.footer {
  min-height: auto;
  padding-top: 0;
  background: rgb(0, 1, 43);
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .box{
  flex: 1 1 25rem;
  margin: 2.5rem;

  h3{
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 1rem;
  font-weight: normal;
  }

  p{
  font-size: 1.5rem;
  color: #ccc;
  padding: 0.2rem 0;
  text-transform: none;
  //  white-space: nowrap;

  i{
    padding-right: 1rem;
  color: #ffae00;
  }
  }
  }

  // .inline{
  //   display: flex;
  // align-items: center;
  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  // max-width: 100%;
  // }
}
// .footer .box-container .box a {
//   font-size: 1.5rem;
//   color: rgb(238, 238, 238);
//   padding: 0.3rem 0;
//   display: block;
// }
.footer .box-container .box a:hover {
  color: #ffae00;
}

.socials {
  display: flex;

  a {
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    margin: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    background: rgb(230, 230, 230);
    color: #02094b;
    text-decoration: none;
    border-radius: 5rem;
    // border: none;

    &:hover{
      background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: #ffae00;
    }
  }
}

// *********
.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.footer .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: rgb(230, 230, 230);
  color: #02094b;
  border: none;
}
.footer .box-container .box .share a:hover {
  background: transparent;
  transform: scale(0.98);
  border: 0.1rem solid rgb(180, 178, 178);
  color: #ffae00;
}
// .footer .credit {
//   padding: 1rem 0 0 0;
//   text-align: center;
//   font-size: 1.5rem;
//   font-family: "Nunito", sans-serif;
//   font-weight: 600;
//   color: #fff;
//   border-top: 0.1rem solid #fff3;
// }
// .footer .credit a {
//   color: #ffae00;
// }
// .footer .fa {
//   color: #e90606;
//   margin: 0 0.3rem;
//   font-size: 1.5rem;
//   animation: pound 0.35s infinite alternate;
// }
// @-webkit-keyframes pound {
//   to {
//     transform: scale(1.1);
//   }
// }
// @keyframes pound {
//   to {
//     transform: scale(1.1);
//   }
// }
// @media (max-width: 450px) {
//   .footer .box-container .box {
//     margin: 1.5rem;
//   }
//   .footer .box-container .box p {
//     padding: 0.7rem;
//   }
//   .footer .box-container .box .share a {
//     padding: 1.2rem;
//   }
// }
// // footer section ends 

// // common media queries starts
// @media (max-width: 450px) {
//   html {
//     font-size: 55%;
//   }
//   body {
//     padding-right: 0;
//   }
//   section {
//     padding: 2rem;
//   }
// }
// // common media queries ends

// scroll top starts 
#scroll-top {
  position: fixed;
  top: -140%;
  right: 2rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  background: #ffae00;
  color: white;
  border-radius: 50%;
  transition: 1s linear;
  z-index: 1000;
}
#scroll-top.active {
  top: calc(100% - 12rem);
}
// scroll top ends 

.component-wrapper > * {
  // margin: 0 5px 10px 5px;
  // padding: 0 5px 10px 5px;
  padding-bottom: 1% !important;
}

// app-education {
//   margin-top: -100px !important;
// }

// @media screen and (max-width:575px) { 
//   mat-toolbar{
//     padding: 0;
//     button{
//       margin: 0 2%;
//     }
//   }
// }

@media screen and (max-width:767px) { 
  mat-toolbar{
    padding: 0;
    button{
      margin: 0 2%;
    }
  }

  .footer .box-container {

    .box{
      margin-top: 2%;
      padding-top: 0;
    }
    h3,i{
    font-size: large !important;
  }
  p{
    font-size: medium !important;
  }

  i{
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
}

@media screen and (min-width:768px) and (max-width:992px) {
  
  mat-toolbar{
    padding: 0;
   span{
    margin-left: 2%;
    font-size: x-large;
   }
   i{
    font-size: xx-large;
   }
   a{
    font-size: small;
   }
  }

  .footer .box-container {

    .box{
      margin-top: 2%;
      padding-top: 0;
    }
    h3,i{
    font-size: x-large !important;
  }
  p{
    font-size: large !important;
  }

  i{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
}

@media screen and (min-width:993px) and (max-width:1200px) {
  .footer .box-container {

    .box{
      margin-top: 2%;
      padding-top: 0;
    }
    h3{
    font-size: xx-large !important;
  }
  p,i{
    font-size: x-large !important;
        line-height: 2rem;
  }

  i{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
}