<ngx-spinner type="square-jelly-box" [fullScreen]="true" size="medium" bdColor="rgba(0, 0, 0, 0.8)" color="#fff"></ngx-spinner>

<!-- <app-navbar style="position: fixed;z-index: 1000;"></app-navbar> -->
<div class="component-wrapper">
    <app-test></app-test>
<!-- <app-home #homeSection></app-home> -->
<!-- <app-about></app-about> -->
<!-- <app-skills></app-skills> -->
<!-- <app-education></app-education> -->
<!-- <app-project></app-project> -->
<!-- <app-experience></app-experience> -->
<!-- <app-contact></app-contact> -->
</div>

<!-- footer section starts -->
<!-- <section class="footer mat-elevation-z8">
  <div class="box-container">
      <div class="box">
          <h3>Sathesh's Portfolio</h3>
          <p>Thank you for visiting my personal portfolio website. Connect with me over socials. <br/> <br/> Keep Rising 🚀. Connect with me over live chat!</p>
      </div>
      <div class="box">
          <h3>contact info</h3>
          <p> <i class="fas fa-phone"></i>+91 XXXXX XXXXX</p>
          <p> <i class="fas fa-envelope"></i>{{'satheshg01@gmail.com'}}</p>
          <p> <i class="fas fa-map-marked-alt"></i>Dharmapuri, Tamil Nadu, India - 636903</p>
          <div class="share">

              <a href="https://www.linkedin.com/in/jigar-sable" class="fab fa-linkedin" aria-label="LinkedIn" target="_blank"></a>
              <a href="https://github.com/jigar-sable" class="fab fa-github" aria-label="GitHub" target="_blank"></a>
              <a href="mailto:jigarsable21@gmail.com" class="fas fa-envelope" aria-label="Mail" target="_blank"></a>
              <a href="https://twitter.com/jigar_sable" class="fab fa-twitter" aria-label="Twitter" target="_blank"></a>
              <a href="https://t.me/lifecode5" class="fab fa-telegram-plane" aria-label="Telegram" target="_blank"></a>
          </div>
      </div>
  </div>
</section> -->
<!-- footer section ends -->

<!-- scroll top btn -->
<a aria-label="ScrollTop" class="fas fa-angle-up" id="scroll-top"
   [class.active]="showScrollTop" (click)="scrollToHome()">
</a>
<!-- scroll back to top -->

<!-- <router-outlet /> -->
