@use '@angular/material' as mat;
@include mat.core();
@import "assets/css/square-jelly-box.css";

$Portfolio-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($Portfolio-theme);
}

html, body { height: 100%; }
body:not(mat-icon) { margin: 0; font-family: 'Times New Roman', Times, serif }

html {
  scroll-behavior: smooth;
}